.container {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  /* gap: 20px */
  z-index: 10;
  max-height: calc(100vh - 56px);
}

.chatRoot {
  flex: 1;
  display: flex;
  margin-top: 0px;
  z-index: 10;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #FFFFFF 57.29%, #EEF6FE 100%); */
  background: transparent;
  /* box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 8px;
  overflow-y: auto;
  min-height: calc(100vh - 100px);
  z-index: 10;
}

.chatEmptyState {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -18vh;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.0;
  transform: translateY(100px);
  /* transition: all 1.05s ease-in; */
  transition: transform 2.05s ease-in;
}
.chatEmptyState.pageAnimOn {
  opacity: 1.0;
  transform: translateY(0px);
  transition: transform 2.25s ease-out;
}
.chatEmptyState.screenOn {
  opacity: 1.0;
  margin-top: -18vh;
  transition: margin-top 1.45s, opacity 1.85s ease-out 0.15s;
}
.chatEmptyState.screenOff {
  opacity: 0.0;
  margin-top: -8vh;
  transition: margin-top 0.85s, opacity 0.65s;
}

.exploreTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  opacity: 0.0;
  /* transition: all 1.5s; */
}
.exploreTextContainer.pageAnimOn {
  opacity: 1.0;
  margin-top: -15%;
  transition: all 1.35s ease-out;
}

/* .exploreText span{
  opacity: 0.0;
  transition: opacity 1.5s;
}
.pageAnimOn .exploreText span{
  opacity: 1.0;
  transition: opacity 1.5s;
} */

.chatHomeText03 {
  font-size: 20px;
  color: #ced5dd;
  margin: 5px;
}
.chatHomeText03 span{
  display: flex;
  transform: translateY(60px);
  opacity: 0.0;
}
.pageAnimOn .chatHomeText03 span{
  transform: translateY(0px);
  opacity: 1.0;
  transition: all 0.75s ease-out 0.5s;
}
.screenOn .chatHomeText03{
  transform: translateY(0px);
  opacity: 1.0;
  transition: all 0.65s ease-out 0.5s;
}
.screenOff .chatHomeText03{
  transform: translateY(60px);
  opacity: 0.0;
  transition: all 0.65s ease-out 0.35s;
}

.chatHomeText02 {
  font-size: 28px;
  color: #63728a;
  margin: 10px;
}
.chatHomeText02 span{
  display: flex;
  transform: translateY(50px);
  opacity: 0.0;
}
.pageAnimOn .chatHomeText02 span{
  transform: translateY(0px);
  opacity: 1.0;
  transition: all 0.95s ease-out 0.35s;
}
.screenOn .chatHomeText02{
  transform: translateY(0px);
  opacity: 1.0;
  transition: all 0.75s ease-out 0.35s;
}
.screenOff .chatHomeText02{
  transform: translateY(50px);
  opacity: 0.0;
  transition: all 0.85s ease-out 0.25s;
}

.chatHomeText01 {
  font-size: 36px;
  color: #14171d;
  margin: 15px;
}
.chatHomeText01 span{
  display: flex;
  transform: translateY(40px);
  opacity: 0.0;
}
.pageAnimOn .chatHomeText01 span{
  transform: translateY(0px);
  opacity: 1.0;
  transition: all 1.15s ease-out;
}
.screenOn .chatHomeText01{
  transform: translateY(0px);
  opacity: 1.0;
  transition: all 0.95s ease-out;
}
.screenOff .chatHomeText01{
  transform: translateY(40px);
  opacity: 0.0;
  transition: all ease-out 1.05s;
}

.chatIcon {
  height: 8em;
  width: 16em;
}

.chatMessageStream {
  flex-grow: 1;
  /* max-width: 1028px; */
  width: 100%;
  overflow-y: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  /* margin-top: 24px; */
  padding-top: 24px;
  align-items: center;

  /* ↓ insane attempt to fade bottom of chat where input is */
  mask-image: linear-gradient(
    #000,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0)
  );
  opacity: 0.0;
}
.chatMessageStream.screenOn {
  opacity: 1.0;
  transition: opacity 1s;
}
.chatMessageStream.screenOff {
  opacity: 0.0;
  transition: opacity 1s;
}

.chatMessageStreamInner {
  /* max-width: 676px; */
  max-width: 692px;
  width: 100%;
  transform: translateX(10px);
  margin-bottom: 170px; /* would need to adapt if chat box grows*/
}

.chatMessageUser {
  /* display: flex; */
  /* justify-content: flex-end; */
  margin-bottom: 12px;
}

.chatMessageUserMessage {
  padding: 12px 16px;
  /* background: #EDF5FD; */
  background: #255fcc;
  /* border-radius: 8px; */
  border-radius: 3px 3px 3px 0px;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* color: #242424; */
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 800px;
}

.timeStamp {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  font-size: 12px;
  color: #63728a;
  margin-top: 6px;
}

.chatMessageGpt {
  margin-bottom: 12px;
  /* max-width: 80%; */
  /* display: flex; */
}

.chatAvatar {
  position: absolute !important;
  width: 46px !important;
  height: 46px !important;
  left: -53px;
  margin-top: 0px;
}

.thinkingSpinner {
  margin-top: 8px;
  justify-content: flex-start !important;
}
.thinkingSpinner span {
  display: flex;
  width: 24px;
  height: 24px;
}
.thinkingSpinner label {
  display: flex;
  font-weight: normal;
  font-size: 14px;
}

.chatInput {
  /* position: sticky; */
  position: fixed;
  flex: 0 0 100px;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100% - 100px);
  /* max-width: 1028px; */
  max-width: 696px;
  margin-bottom: 80px;
  margin-top: 8px;
  z-index: 10;
  bottom: 64px;
  opacity: 0.0;
  /* transition: margin 0.45s ease-in 0s; */
  transform: translateY(50px);
  transition: all 0.65s ease-in 0s;
}
.chatInput.pageAnimOn {
  opacity: 1.0;
  transform: translateY(0px);
  transition: all 1.25s ease-out 0s;
}

.chatThreadActive {
  margin-bottom: 40px;
  transition: margin 0.6s ease-in 0.15s;
}

.clearChatBroom {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 66px;
  color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  z-index: 1;
  /* display: none !important; */
}

.stopGeneratingContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  gap: 4px;
  position: absolute;
  /* width: 161px; */
  height: 32px;
  /* left: calc(50% - 161px/2 + 25.8px); */
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 116px; */
  bottom: 56px;
  border: 1px solid #d1d1d1;
  border-radius: 16px;
  background-color: #00205b;
}

.stopGeneratingIcon {
  width: 14px;
  height: 14px;
  /* color: #424242; */
  color: #ffffff;
}

.stopGeneratingText {
  /* width: 103px; */
  height: 20px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  /* color: #242424;  */
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.citationPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px;
  gap: 8px;
  background: #ffffff;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  flex: auto;
  order: 0;
  align-self: stretch;
  flex-grow: 0.3;
  max-width: 30%;
  overflow-y: scroll;
  /* max-height: calc(100vh - 100px); */
  max-height: calc(100vh - 56px);
}

.citationPanelHeaderContainer {
  width: 100%;
}

.citationPanelHeader {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.citationPanelDismiss {
  width: 18px;
  height: 18px;
  color: #424242;
}

.citationPanelDismiss:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.citationPanelTitle {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #323130;
  margin-top: 12px;
  margin-bottom: 12px;
}

.citationPanelContent {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  overflow-wrap: break-word;
}

.citationPanel p {
  overflow-wrap: break-word;
}

.MobileChatContainer {
  @media screen and (max-width: 600px) {
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;
  }
}

.mobileStyles {
  @media screen and (max-width: 600px) {
    max-width: 100%;
    flex-grow: 1;
    max-height: 100vh;
  }
}

.mobileclearChatBroom {
  @media screen and (max-width: 600px) {
    left: -30px;
  }
}

.mobileCitationPanelTitle {
  @media screen and (max-width: 600px) {
    font-weight: 400;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.mobileCitationPanelContent {
  @media screen and (max-width: 600px) {
    font-weight: 250;
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-weight: 300;
    font-size: 14px;
  }

  h2 {
    font-weight: 300;
    font-size: 12px;
  }
}

.bgPatternImgContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  opacity: 0.15;
  pointer-events: none;
  top: 6%;
}
.bgPatternImgContainer.pageAnimOn {
  top: 0px;
  transition: top 1.35s ease-out;
}

.bgPatternImg {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0%;
}
.bgPatternImg.screenOn {
  top: 0%;
  transition: top 1.55s ease-out;
}
.bgPatternImg.screenOff {
  top: 4%;
  transition: top 1.5s ease-out;
}

/* ↓ animating the aurora loading/generating */
.generatingAnim {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -11%;
  z-index: -1;
  width: 100vw;
  left: 0%;
  animation: scaleInOut forwards 7s infinite;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  bottom: 0%;
  width: 100vw;
  height: 240px;
  opacity: 0.0;
}
.generatingAnim.fadeOnAurora {
  opacity: 1.0;
  transition: opacity 0.35s;
}
.generatingAnim.fadeOffAurora {
  opacity: 0.0;
  transition: opacity 0.85s ease-out;
}
.generatingAnim img {
  position: absolute;
}
.generatingAnimInner {

}
.generatingAnimInner.screenOn {
  margin-top: -1%;
  transform: scale(0.45);
  opacity: 0.0;
  transition: transform 1.25s ease-out, opacity 0.45s;
}
.generatingAnimInner.screenOff {
  margin-top: 0%;
  transform: scale(1);
  opacity: 1.0;
  transition: transform 0.65s ease-out, opacity 0.65s;
}

.hue01 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: sideToSide01 forwards 4s infinite;
  animation-timing-function: ease-in-out;
}
.hue01img01 {
  animation: fadeInOut01 forwards 8s infinite;
  animation-timing-function: ease-in-out;
}
.hue01img02 {
  animation: fadeInOut03 forwards 6s infinite;
  animation-timing-function: ease-in-out;
}

.hue02 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: sideToSide02 forwards 7s infinite;
  animation-timing-function: ease-in-out;
}
.hue02img01 {
  animation: fadeInOut02 forwards 68s infinite;
  animation-timing-function: ease-in-out;
}
.hue02img02 {
  animation: fadeInOut04 forwards 8s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes sideToSide01 {
  0% {
    transform: translateX(10vw);
  }
  50% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(10vw);
  }
}

@keyframes sideToSide02 {
  0% {
    transform: translateX(-10vw);
  }
  50% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}

@keyframes fadeInOut01 {
  0% {
    opacity: 0.5;
    transform: rotate(-15deg);
  }
  25% {
    opacity: 1;
    transform: rotate(15deg);
  }
  75% {
    opacity: 0.5;
    transform: rotate(15deg);
  }
  100% {
    opacity: 0.5;
    transform: rotate(-15deg);
  }
}

@keyframes fadeInOut02 {
  0% {
    opacity: 1;
    transform: rotate(15deg);
  }
  25% {
    opacity: 0.5;
    transform: rotate(-15deg);
  }
  75% {
    opacity: 0.35;
    transform: rotate(-15deg);
  }
  100% {
    opacity: 1;
    transform: rotate(15deg);
  }
}

@keyframes fadeInOut03 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.35;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut04 {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.35;
  }
}

@keyframes scaleInOut {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(1.25, 1);
  }
  50% {
    transform: scale(1, 1.2);
  }
  75% {
    transform: scale(1.25, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
